/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "./../abstracts/variable";

@font-face {
    font-family: "HelveticaL";
    src: url(./../../../ressource/font/HelveticaLTW05-Black.woff2) format(woff2),
         url(./../../../ressource/font/HelveticaLTW05-Light.woff2) format(woff2);
    
}
@font-face {
    font-family: "nautilus";
    src: url(./../../../ressource/font/nautilus-webfont.woff2) format(woff2);
}

html, body, div, span,
h1, h2, h3, p, 
a, img, ul, li, 
article, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

body {
    font-family: "HelveticaL";
	line-height: 1;
    overflow-x: hidden;   
}

article, footer, header, nav, section {
	display: block;
    text-transform: uppercase;
}
ul {
	list-style: none;
}
a {
    text-decoration: none;
    color: $white;
}
img{
    width: 100%;
}