/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
article, footer, header, nav, section {
  display: block;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
}

html, body, div, span,
h1, h2, h3, p,
a, img, ul, li,
article, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "HelveticaL";
  src: url(./../../../ressource/font/HelveticaLTW05-Black.woff2) format(woff2), url(./../../../ressource/font/HelveticaLTW05-Light.woff2) format(woff2);
}
@font-face {
  font-family: "nautilus";
  src: url(./../../../ressource/font/nautilus-webfont.woff2) format(woff2);
}
body {
  font-family: "HelveticaL";
  line-height: 1;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 70px;
}
header .navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
header .navbar #logo {
  margin-top: 24px;
  margin-left: 3%;
  width: 140px;
  color: #d21033;
  font-size: 22px;
  z-index: 2;
}
header .navbar .burger {
  top: 28px;
  width: 24px;
  height: 12px;
  right: 20px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
header .navbar .burger span {
  height: 4px;
  width: 100%;
  background-color: #d21033;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.2s ease-in-out;
}
header .navbar .burger span::before, header .navbar .burger span::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #d21033;
  transition: transform 0.2s ease-in-out;
}
header .navbar .burger span::before {
  transform: translateY(-7.5px);
}
header .navbar .burger span::after {
  transform: translateY(7.5px);
}
header .navbar .burger.close span {
  background-color: transparent;
}
header .navbar .burger.close span::before {
  transform: translateY(0px) rotate(45deg);
}
header .navbar .burger.close span::after {
  transform: translateY(0px) rotate(-45deg);
}

.menu {
  position: absolute;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: margin 0.1s;
  visibility: hidden;
  margin-left: -200%;
}
.menu.open {
  height: 100vh;
  position: absolute;
  width: 100vw;
  background-color: black;
  visibility: visible;
  z-index: 1;
}
.menu.open ul {
  margin: 0;
  visibility: visible;
}
.menu.open ul li {
  margin: 20px 0px;
}
.menu.open ul li a {
  font-size: 1.4em;
  transition: font-size 0.1s;
}
.menu.open ul li a:hover {
  cursor: pointer;
  font-size: 1.8rem;
}

.hero-section {
  width: 100vw;
  height: 300px;
}
.hero-section::before, .hero-section::after {
  content: "";
  height: 32px;
  width: 100%;
  display: block;
  background-color: #fff;
  background-image: linear-gradient(45deg, #d21033 25%, rgba(255, 255, 255, 0.001) 25%, rgba(255, 255, 255, 0.001) 75%, #d21033 75%, #d21033), linear-gradient(45deg, #d21033 25%, rgba(255, 255, 255, 0.001) 25%, rgba(255, 255, 255, 0.001) 75%, #d21033 75%, #d21033);
  background-size: 32px 32px;
  background-position: 0 0, 16px 16px;
}

.hero-section {
  background-color: #d21033;
}

h1 {
  font-size: 35px;
  color: #fff;
  position: absolute;
  text-align: center;
  top: 35%;
}

.m-burger {
  display: inline-block;
  width: 40vw;
  margin-left: 60%;
}/*# sourceMappingURL=main.css.map */